@using CookStack.Client.Components.Search
@using CookStack.Client.Components.Shared
@using CookStack.Client.Services

@inherits LayoutComponentBase

@inject LoadingService loadingService
@inject SearchModalService searchModalService
@inject KeyboardShortcutService keyboardShortcutService;
@inject IJSRuntime jS

<PageTitle>CookStack</PageTitle>

<Spinner 
	IsVisible = "@loadingService.IsLoading" 
	StatusText= "@loadingService.StatusText" />
<Toast />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<GlobalSearchModal @ref=searchModal />


@code {
    private GlobalSearchModal? searchModal;
    private DotNetObjectReference<MainLayout>? objectReference;

    protected override void OnInitialized()
    {
        loadingService.OnChange += StateHasChanged;
        searchModalService.OnOpen += async () => await OpenSearch();
    }

    [JSInvokable]
    public async Task OpenSearch()
    {
        if (searchModal != null)
            await searchModal.Open();
        
    }

    [JSInvokable]
    public async Task EscapePressed()
    {
        // if (searchModal != null)
        //     searchModal.Close();
        keyboardShortcutService.EscapePressed();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            objectReference = DotNetObjectReference.Create(this);

            await jS.InvokeVoidAsync(
            "keyboardShortcuts.register",
            objectReference);
        }
    }
}