@using CookStack.Client.Components.Search
@using CookStack.Client.Components.Shared
@using CookStack.Client.Components.ShoppingList
@using CookStack.Client.Enums
@using CookStack.Client.Services

@implements IDisposable

@inherits LayoutComponentBase

@inject LoadingService LoadingService
@inject SearchModalService SearchModalService
@inject KeyboardShortcutService KeyboardShortcutService;
@inject AddShoppingListModalService ShoppingListModalService; 
@inject IJSRuntime jS

<ShoppingListModal @ref="shoppingListModal" />

<PageTitle>CookStack</PageTitle>

<Spinner 
	IsVisible = "@LoadingService.IsLoading" 
	StatusText= "@LoadingService.StatusText" />
<Toast />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<GlobalSearchModal @ref=searchModal />

@code {
    private GlobalSearchModal? searchModal;
    private ShoppingListModal? shoppingListModal;
    private DotNetObjectReference<MainLayout>? objectReference;


    protected override void OnInitialized()
    {
        LoadingService.OnChange += StateHasChanged;
        SearchModalService.OnOpen += OpenSearch;
        ShoppingListModalService.OnOpen += AddShoppingList;
    }

    private async Task AddShoppingList()
    {
        if (shoppingListModal != null)
            await shoppingListModal.Open(ShoppingListModalMode.Create);
    }

    [JSInvokable]
    public async Task OpenSearch()
    {
        if (searchModal != null)
            await searchModal.Open();
    }

    [JSInvokable]
    public async Task EscapePressed()
    {
        KeyboardShortcutService.EscapePressed();
    }

    [JSInvokable]
    public async Task ArrowDownPressed()
    {
        KeyboardShortcutService.ArrowDownPressed();
    }

    [JSInvokable]
    public async Task ArrowUpPressed()
    {
        KeyboardShortcutService.ArrowUpPressed();
    }

    [JSInvokable]
    public async Task EnterPressed()
    {
        KeyboardShortcutService.EnterPressed();
    }

    [JSInvokable]
    public async Task MouseUsed()
    {
        KeyboardShortcutService.MouseUsed();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            objectReference = DotNetObjectReference.Create(this);

            await jS.InvokeVoidAsync(
            "keyboardShortcuts.register",
            objectReference);
        }
    }

    public void Dispose()
    {
        LoadingService.OnChange -= StateHasChanged;
        SearchModalService.OnOpen -= OpenSearch;
        ShoppingListModalService.OnOpen -= AddShoppingList;
        objectReference?.Dispose();
    }
}