@using CoockStackShared.ShoppingList.Dtos
@using CookStackClient.Components.ShoppingList
@using CookStackClient.Services
@using CookStackClient.Services.ToastMessage
@using CookStackShared.Recipes.Dtos
@using CookStackShared.ShoppingList.Dtos

@inject ShoppingListApiClient ShoppingListApi
@inject ToastService ToastService


@if(IsOpen)
{
	<div class="modal-backdrop fade show"></div>

	<div class="modal fade show d-block" tabindex="-1" @onclick="Close">
		<div class="modal-dialog" @onclick:stopPropagation="true">
			<div class="modal-content">
				<EditForm Model="FormModel" OnValidSubmit="SaveAndClose">
					<DataAnnotationsValidator />
					<div class="modal-body">
						<ShoppingListModeSelector @bind-IsNew="IsNew" />

						@if(IsNew)
						{
							<input class="form-control mb-2" @bind="FormModel.Title" placeholder="FormModel.Title" @ref="titleInput" @onkeydown="HandleKey" />
							<InputTextArea class="form-control mb-2" @bind-Value="FormModel.Description" @onkeydown="HandleKey" />
						}
						else
						{
							<ShoppingListSelector
								Lists="ShoppingLists"
								@bind-SelectedListId="SelectedListId" />
						}

						<IngredientSelector Ingredients="Ingredients"/>

					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary" disabled="@isSaving">
							@(isSaving ? "Saving..." : "Add")
						</button>
						<button type="button" class="btn btn-secondary" @onclick="Close">Close</button>
					</div>

				</EditForm>
			</div>
		</div>
	</div>

}

@code {
	[Parameter]
	public EventCallback OnSaved { get; set; }

	private bool _isNew = true;

	private bool IsNew
	{
		get => _isNew;
		set
		{
			if (_isNew == value) return;

			_isNew = value;
			shouldFocus = true;
		}
	}

	private bool IsOpen;
	private bool shouldFocus;
	private ElementReference titleInput;

	private int? SelectedListId;

	private List<ShoppingListsListDto> ShoppingLists = [];
	private List<SelectableIngredientDto> Ingredients = [];

	private AddIngredientsToShoppingListDto FormModel = new();

	private bool isSaving = false;

	public async Task Show(RecipeDetailsDto dto)
	{
		FormModel = new();

		FormModel.Title = dto.Title;
		FormModel.Description = $"Lista zakupów do: {dto.Title}";

		Ingredients = dto.Ingredients
		.Select(i => new SelectableIngredientDto
			{
				Name = i.Name,
				Quantity = i.Quantity,
				Unit = i.Unit,
				IsSelected = true
			}).ToList();

		ShoppingLists = await ShoppingListApi.GetShoppingListsAsync();

		IsOpen = true;

		StateHasChanged();

		await Task.Yield();

		if(IsNew)
		{
			await titleInput.FocusAsync();
		}
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if(shouldFocus && IsNew)
		{
			shouldFocus = false;
			await titleInput.FocusAsync();
		}
	}

	private async Task HandleKey(KeyboardEventArgs e)
	{
		if (e.Key == "Enter")
			await SaveAndClose();

		if (e.Key == "Escape")
			Close();
	}


	private async Task SaveAndClose()
	{
		var success = await Save();
		if(success)
		{
			Close();
		}
	}

	private async Task<bool> Save()
	{
		if (!IsNew && SelectedListId == null)
		{
			ToastService.ShowError("Select a shopping list", 3);
			return false;
		}

		var selectedItems = Ingredients
			.Where(i => i.IsSelected)
			.Select(i => new ShoppingItemDto
			{
				Name = i.Name,
				Quantity = i.Quantity,
				Unit = i.Unit
			})
			.ToList();

		if(!selectedItems.Any())
		{
			ToastService.ShowError("Select at least one ingredient", 3);
			return false;
		}

		FormModel = new AddIngredientsToShoppingListDto
		{
			Title = IsNew ? FormModel.Title : null,
			Description = IsNew ? FormModel.Description : null,
			ExistingListId = IsNew ? null : SelectedListId,
			Items = selectedItems
		};

		await ShoppingListApi.AddIngredientsAsync(FormModel);

		ToastService.ShowSuccess("Added!", 3);
		return true;
	}
	public void Close() => IsOpen = false;

	private void ShowSuccess()
	{
		ToastService.ShowSuccess("Saved!", 3);
	}
}
