@using CookStack.Client.Services

@inject SearchModalService SearchModalService
@inject AddShoppingListModalService ShoppingListModalService


<nav class="top-nav">
	<a class="brand" href="">CookStack</a>

	<button class="mobile-search-button" @onclick="GlobalSearch" aria-label="Open search">
		<span class="bi bi-invert bi-search-nav-menu" aria-hidden="true"></span>
	</button>

	<button class="mobile-menu-button"
			title="Navigation menu"
			@onclick="ToggleMobileMenu">
		<span class="menu-icon">
			@(isMobileMenuOpen ? "✕" :  "☰")
		</span>
	</button>

	<div class="nav-content @(isMobileMenuOpen ? "open" : "")">
		<div class="nav-links">
			<NavLink href="" Match="NavLinkMatch.All" @onclick="CloseMobileMenu">Home</NavLink>
			<NavLink href="recipes" @onclick="CloseMobileMenu">Recipes</NavLink>
			<NavLink href="shopping-lists" @onclick="CloseMobileMenu">Shopping List</NavLink>
		</div>

		<hr class="mobile-menu-divider" />

		<div class="nav-actions">
			<div class="search-box">
				<button @onclick="GlobalSearch">
					<span class="bi bi-invert bi-search-nav-menu" aria-hidden="true"></span>
				</button>
				<input placeholder="Search recipes and shopping lists..."
					   value="@searchTerm"
					   @oninput="OnSearchInput"
					   @onkeydown="HandleSearchKeyDown" />
			</div>

			<NavLink class="action-link btn-with-icon" href="recipe-create" @onclick="CloseMobileMenu">
				<i class="bi bi-plus bi-invert"></i>Recipe
			</NavLink>
			<button class="action-button btn-with-icon" @onclick="ShoppingListModal">
				<i class="bi bi-plus bi-invert"></i>List
			</button>

		</div>
		
	</div>
</nav>

@code {
	private string searchTerm = "";
	private bool isMobileMenuOpen;

	private void ToggleMobileMenu()
	{
		isMobileMenuOpen = !isMobileMenuOpen;
	}

	private void CloseMobileMenu()
	{
		isMobileMenuOpen = false;
	}

	private async Task HandleSearchKeyDown(KeyboardEventArgs e)
	{

		if (e.Key == "Enter" && !string.IsNullOrWhiteSpace(searchTerm))
		{
			await SearchModalService.Open(searchTerm);
			searchTerm = "";
			CloseMobileMenu();
		}
	}

	private void OnSearchInput(ChangeEventArgs e)
	{
		searchTerm = e.Value?.ToString() ?? "";
	}

	private async Task GlobalSearch()
	{
		await SearchModalService.Open();
		CloseMobileMenu();
	}

	private async Task ShoppingListModal()
	{
		await ShoppingListModalService.Open();
		CloseMobileMenu();
	}
}
